<ion-view view-title="{{student.fullName}}">
    <ion-content class="padding">
        <div class="item">
            <h2>{{student.fullName}}</h2>
            <p>{{student.email}}</p>
        </div>
        <div class="item item-image">
            <img ng-src="{{currentPhoto(student, imageURI)}}">
        </div>
        <div class="item tabs tabs-icon-top">
            <a class="tab-item" ng-click="newPhoto()">
                <i class="icon ion-camera"></i> New
            </a>
            <a class="tab-item" ng-click="editPhoto()">
                <i class="icon ion-crop"></i> Edit
            </a>
            <a class="tab-item" ng-click="uploadPhoto()">
                <i class="icon ion-upload"></i> Upload
            </a>
        </div>
        </div>
        <div class="card" ng-hide="true">
            <div class="item item-divider">
                Comments
            </div>
            <div class="item item-text-wrap">
                This is a basic Card with some text.
            </div>
        </div>
    </ion-content>
</ion-view>
