/* Empty. Add your own CSS if you like */


.student-list-item a {
	padding-left: 80px !important;
}

.student-photo {
	top: 8px !important;
	left: 8px !important;
	max-width: 60px !important;
	max-height: 60px !important;
}